{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Calendario Equilibrio</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}">
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

{% block content %}

<div class="container">
    <hr>
	<div id="calendar"></div>
</div>

{#<script type="text/javascript" src="{% static "js/my_external_script.js" %}"></script> #}
<script type="text/javascript">
$.getScript('{% static 'js/fullcalendar.min.js' %}', function(){
  $('#calendar').fullCalendar({
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
    },
    editable: true,
    events:
     [
      {% for td in today %}
      {
        id: '{{ td.id }}',
        title: '{{ td.user.name }}',
        start: new Date('{{ td.date.isoformat }}'),
        allDay: false,
        {% comment %}url: '{% url  %}{% endcomment %}
      }{% if not forloop.last %},{% endif %}
      {% endfor %}
    ],
    timeFormat: 'H:mm',
  });
})
    {% endblock %}
</script>


</body>
</html>